* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #2C2C46;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    display: none;
}

.show-large { display: none; }
.hide-large { display: block; }
@media(min-width: 1200px){
  .show-large{ display: block; }
  .hide-large { display: none; }
}

strong {
  font-weight: 500;
}

h1 {
	font-family: 'Rubik';
	font-weight: 500;
	font-size: 30px;
	color: #2C2C46;
}

h2 {
	text-align: center;
	font-family: 'Rubik';
	font-weight: 300;
	color: #333;
	font-size: 36px;
	line-height: 40px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
}

p {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #2C2C46;
}

a {
  text-decoration: none;
  color: #2C2C46;
}

.container {
	display: -ms-flexbox;
	display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	width: 100%;
  overflow: hidden;
  padding-left: 20%;
}


/*TITLE BLOCK*/
.title_block {
	display: -ms-flexbox;
	display: flex;
  max-width: 700px;
	-ms-flex-direction: column;
	    flex-direction: column;
}

/*ENDING*/
.ending {
  margin-top: 150px;
  margin-bottom: 100px;
}

.ending_info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.ending_info h2 {
  text-align: center;
  margin-bottom: 100px;
}

@media screen and (min-width: 481px) {
  #ClientChat > * {
    opacity: 0;
  }

  #UserChat > * {
    opacity: 0;
  }

  #ClientChat2 > * {
    opacity: 0;
  }
}


/*ADD TO SLACK BUTTON*/
.slack_button {
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  transition: all 300ms ease;
}

.slack_button:hover {
  -ms-transform: scale(1.08);
      transform: scale(1.08);
  box-shadow: 0 0 40px rgba(0,0,0,.15);
}

.sb_large {
  height: 80px;
  border-radius: 12px;
}

/*END ADD TO SLACK BUTTON*/

/*  INLINE LINK  */
.inline_link {
  cursor: pointer;
  padding: 0px;
  padding-bottom: 2px;
  background: white;
  border: none;
  font-size: 16px;
  color: #2c2c46;
  font-weight: 500;
  border-bottom: 2px solid #2C2C46;
  box-shadow: 0px 0px 0px #4CFFFA;
  transition: 300ms ease;
}

.inline_link:hover {
  box-shadow: 0px 2px 0px #4CFFFA;
}

.inline_link:focus {
  -webkit-box-decoration-break: none;
          box-decoration-break: none;
  box-shadow: none;
  border: none
}
